.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.data-box{
  border: 1px sosid #000;
}

.avatar{
  width: 100px;
  border: 4px solid #d85cd2;
  border-radius: 50%;
}
.avatar-box{
  margin: 5px auto;
}
.border{
  background-color: #D62AD0;
  color: #fff;
  border: 5px solid #CD113B;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: .3s;
}
.border:hover{
  background-color: #CD113B;
}